$font-color: #151f2a;
$blue: #007aff;
$blue-deep: #3b5898;
$green: #32bb01;
$gray: #dcdfe6;
$purple: #752e95;
$minWidth: 1200px;
$mobileWidth: 768px;

@mixin imgbg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}

@mixin nowrap {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin nowrapTwo {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

@mixin layout {
	box-sizing: border-box;
	margin: 0 auto;
	width: 90%;
	min-width: 1000px;
}

@mixin sm {
	@media screen and (max-width: $mobileWidth) {
		@content;
	}
}
